<form (submit)="loginHandler( $event )">
    <div>
        <label for="loginUserName">
            Username:
        </label>
        <input type="text" name="loginUserName" id="loginUserName" [(ngModel)]="loginUserName"/>
    </div>
    <div>
        <label for="loginPassword">
            Password:
        </label>
        <input type="password" name="loginPassword" id="loginPassword" [(ngModel)]="loginPassword"/>
    </div>
    <button type="submit">
        Login
    </button>
    <div>
        {{errorMessage}}
    </div>
</form>
